/* ################################ */
/* NPC on the map */

.map-npc {
  font-size: 150%; color: cyan; text-shadow: 2px 2px black, -2px -2px black; /* temp */
}
.map-npc.gone, .map-cake {
  display: none;
}
.map-npc > .msp {
  background-image: url('img/sheet.png');
  position: absolute; top: 0; left: 0;
  transform-origin: top left;
}

.map-fairy {
  top: 1336px;
  left: 220px;
}
.map-fairy > .msp {
  transform: scale(0.5);
}

.map-door {
  top: 1033px;
  left: 423px;
}
.map-door > .msp {
  transform: scale(0.4);
}

.map-pond {
  top: 858px;
  left: 131px;
}
.map-pond > .msp {
  transform: scale(0.4);
}

.map-cat {
  top: 903px;
  left: 814px;
}
.map-cat > .msp {
  transform: scale(0.7);
}

.map-shop {
  top: 820px;
  left: 1140px;
}
.map-shop > .msp {
  transform: scale(0.55);
}

.map-noBridgeB {
  top: 825px;
  left: 1090px; 
}
.map-bridgeB {
  top: 568px;
  left: 977px;
  display: none;
}
.map-bridgeB.appear {
  display: block;
}
.map-noBridgeC {
  top: 825px;
  left: 1252px; 
}
.map-bridgeC {
  top: 940px;
  left: 1296px;
  display: none;
}
.map-bridgeC.appear {
  display: block;
}

.map-midboss {
  top: 343px;
  left: 883px; 
}
.map-midboss > .msp {
  transform: scale(0.5);
}

.map-fire {
  top: 305px;
  left: 200px;
}
.map-fire > .msp {
  transform: scale(0.5);
}

.map-receptionist {
  top: 322px;
  left: 510px;
}
.map-receptionist > .msp {
  transform: scale(0.5);
}

.map-nurse {
  top: 712px;
  left: 410px; 
}
.map-nurse > .msp {
  transform: scale(0.5);
}

.map-blacksmith {
  top: 712px;
  left: 1370px; 
}
.map-blacksmith > .msp {
  transform: scale(0.5);
}

.map-restceptionist {
  top: 316px;
  left: 1800px;
}
.map-restceptionist > .msp {
  transform: scale(0.5);
}

.map-lake {
  top: 40px;
  left: 1250px;
}
.map-lake > .msp {
  transform: scale(0.4);
}

.map-stone {
  top: 1480px;
  left: 1210px;
}
.map-stone > .msp {
  transform: scale(0.5);
}

.map-shackle {
  top: 1480px;
  left: 1530px; 
}
.map-shackle > .msp {
  transform: scale(0.5);
}

.map-boss {
  top: 1480px;
  left: 1850px;
}
.map-boss > .msp {
  transform: scale(0.5);
}

/* ################################ */
/* NPC encounter */


/* ################################ */
/* Items */

.item[data-iid="oil"]::before {
  content: 'oil';
}
.item[data-iid="ice"]::before {
  content: 'ice';
}
.item[data-iid="money"]::before {
  content: 'money';
}
.item[data-iid="rod"]::before {
  content: 'rod';
}
.item[data-iid="fish"]::before {
  content: 'fish';
}
.item[data-iid="grilledfish"]::before {
  content: 'grilledfish';
}
.item[data-iid="key"]::before {
  content: 'key';
}
.item[data-iid="entkit"]::before {
  content: 'entkit';
}
.item[data-iid="sword"]::before {
  content: 'sword';
}
.item[data-iid="gem"]::before {
  content: 'gem';
}
.item[data-iid="powersword"]::before {
  content: 'powersword';
}
