/* ################################ */
/* NPC on the map */

.map-npc.gone, .map-cake {
  display: none;
}

.map-fairy {
  top: 1480px; left: 250px;
}
.map-door {
  top: 1124px; left: 420px; 
}
.map-pond {
  top: 930px; left: 250px;
}
.map-cat {
  top: 968px; left: 890px;
}

.map-shop {
  top: 968px; left: 1210px; 
}
.map-noBridgeB {
  top: 806px; left: 1126px; 
}
.map-bridgeB {
  top: 568px; left: 977px;
  display: none;
}
.map-bridgeB.appear {
  display: block;
}
.map-noBridgeC {
  top: 868px; left: 1249px; 
}
.map-bridgeC {
  top: 940px; left: 1296px;
  display: none;
}
.map-bridgeC.appear {
  display: block;
}

.map-midboss {
  top: 436px; left: 920px; 
}
.map-fire {
  top: 456px; left: 250px;
}
.map-receptionist {
  top: 456px; left: 570px;
}
.map-nurse {
  top: 712px; left: 410px; 
}

.map-blacksmith {
  top: 712px; left: 1370px; 
}
.map-restceptionist {
  top: 416px; left: 1850px;
}
.map-lake {
  top: 100px; left: 1280px;
}
.map-stone {
  top: 1480px; left: 1210px;
}
.map-shackle {
  top: 1480px; left: 1530px; 
}
.map-boss {
  top: 1480px; left: 1850px;
}

/* ################################ */
/* NPC encounter */

