/* ################################ */
/* reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Mali', sans-serif;
  user-select: none;
}

.centerize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottomize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

html {
  height: 100%;
  touch-action: manipulation;
}

body {
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#game {
  position: relative;
  background-color: black;
  width: 700px;
  height: 400px;
  overflow: hidden;
  transform-origin: top left;
}

/* ################################ */
/* scenes */

div.scene {
  display: none;
  position: absolute;
  width: 700px;
  height: 400px;
  left: 0; top: 0;
}

/* ################################ */
/* preload scene */

#scene-preload {
  background: black;
  color: white;
}

#scene-preload > div {
  height: 100%;
}

#pane-loading {
  font-size: 30px;
  text-align: center;
}

#pane-loading button {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

/* ################################ */
/* main scene */

#scene-main {
  background: white;
}

#map-pane {
  position: absolute;
  left: 0; top: 0; width: 500px; height: 400px;
  background: gray;
}

#hud-pane {
  position: absolute;
  left: 500px; top: 0; width: 200px; height: 400px;
  background: #cca;
}

/* ################################ */
/* map */

#map {
  position: absolute;
  width: 2560px; height: 2060px; left: 0; top: -1660px;
  background: url('img/map-draft.png');
  transition: left 400ms, top 400ms;
}

.arrow {
  position: absolute; display: none;
  width: 80px; height: 70px;
  background: url('img/arrow.png');
  cursor: pointer;
}

#arrow-nw {
  left: 112px; top: 10px;
  transform: rotate(-122deg);
}
#arrow-ne {
  right: 112px; top: 10px;
  transform: rotate(-58deg);
}
#arrow-w {
  left: 7px; top: 165px;
  transform: rotate(180deg);
}
#arrow-e {
  right: 7px; top: 165px;
}
#arrow-se {
  right: 112px; bottom: 10px;
  transform: rotate(58deg);
}
#arrow-sw {
  left: 112px; bottom: 10px;
  transform: rotate(122deg);
}
#arrow-se {
  right: 112px; bottom: 10px;
  transform: rotate(58deg);
}

.map-npc {
  position: absolute;
  background: cyan; /* temp! */
}

/* ################################ */
/* encounter */

#encounter {
  position: absolute;
  left: 0; top: 0; width: 500px; height: 400px;
  background: #555555bb;
  visibility: visible;
  opacity: 1;
  transition: visibility 400ms, opacity 400ms;
}
#encounter.hidden {
  visibility: hidden;
  opacity: 0;
}

#npc-pic-wrapper {
  position: absolute;
  left: 0; top: 0; width: 250px; height: 320px;
  background: cyan;
}

#npc-name-wrapper {
  position: absolute;
  left: 0; bottom: 0; width: 250px; height: 80px;
  background: yellow;
}

#npc-dialog-wrapper {
  position: absolute;
  right: 0; top: 0; width: 250px; height: 240px;
  background: #eee;
}

#npc-dialog {
  margin: 25px;
  text-align: center;
  line-height: 1.4;
}
#npc-dialog p {
  margin: .8em 0;
}
#npc-dialog b {
  font-weight: bold;
  color: #b22;
}
#npc-dialog i {
  font-style: italic;
  color: #666;
  font-size: 80%;
}

#btn-action-wrapper {
  position: absolute;
  right: 0; bottom: 80px; width: 250px; height: 80px;
  background: #ccf;
}

#btn-item-wrapper {
  position: absolute;
  right: 0; bottom: 0; width: 250px; height: 80px;
  background: #cfc;
}

#btn-action, #btn-item {
  color: #888;
  text-align: center;
}
#btn-action.enabled, #btn-item.enabled { color: black; }

#btn-leave-wrapper {
  position: absolute;
  left: 0; top: 0; width: 80px; height: 80px;
  background: #fcc;
}
