/* ################################ */
/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
	font-size: 100%;
  box-sizing: border-box;
  font-family: 'Mali', sans-serif;
	vertical-align: baseline;
  user-select: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ################################ */
/* common */

.centerize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bottomize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* ################################ */
/* page */

html {
  height: 100%;
  touch-action: manipulation;
}

body {
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#game {
  position: relative;
  background-color: black;
  width: 700px;
  height: 400px;
  overflow: hidden;
  transform-origin: top left;
}

div.scene {
  display: none;
  position: absolute;
  width: 700px;
  height: 400px;
  left: 0; top: 0;
}

/* ################################ */
/* preload scene */

#scene-preload {
  background: black;
  color: white;
}

#scene-preload > div {
  height: 100%;
}

#pane-loading {
  font-size: 30px;
  text-align: center;
}

#pane-loading button {
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

/* ################################ */
/* main scene */

#scene-main {
  background: white;
}

#map-pane {
  position: absolute;
  left: 0; top: 0; width: 500px; height: 400px;
  background: gray;
}

#hud-pane {
  position: absolute;
  left: 500px; top: 0; width: 200px; height: 400px;
  background: #cca;
}

/* ################################ */
/* map */

#map {
  position: absolute;
  width: 2100px; height: 1680px; left: 0; top: -1260px;
  background: url('img/map-draft-3.png');
  transition: left 250ms linear, top 250ms linear;
}

.arrow {
  position: absolute; display: none;
  width: 160px; height: 140px;
  background: url('img/arrow.png') 15px 20px no-repeat;
  cursor: pointer;
}

#arrow-nw {
  left: 68px; top: -33px;
  transform: rotate(-122deg);
}
#arrow-ne {
  right: 68px; top: -33px;
  transform: rotate(-58deg);
}
#arrow-w {
  left: -40px; top: 130px;
  transform: rotate(180deg);
}
#arrow-e {
  right: -40px; top: 130px;
}
#arrow-sw {
  left: 68px; bottom: -33px;
  transform: rotate(122deg);
}
#arrow-se {
  right: 68px; bottom: -33px;
  transform: rotate(58deg);
}

.map-npc {
  position: absolute;
  cursor: pointer;
  background: cyan; font-size: 150%; /* temp! */
}
.map-npc.gone {
  display: none;
}
.map-npc[data-nid="door"].open,
.map-npc[data-nid="pond"].fished {
  opacity: 0.5;
}

/* ################################ */
/* encounter */

#encounter {
  position: absolute;
  left: 0; top: 0; width: 500px; height: 400px;
  background: #555555bb;
  visibility: visible;
  opacity: 1;
  transition: visibility 400ms, opacity 400ms;
}
#encounter.hidden {
  visibility: hidden;
  opacity: 0;
}

#npc-pic-wrapper {
  position: absolute;
  left: 0; top: 0; width: 250px; height: 320px;
  background: cyan;
}

#npc-name-wrapper {
  position: absolute;
  left: 0; bottom: 0; width: 250px; height: 80px;
  background: yellow;
}

#npc-dialog-wrapper {
  position: absolute;
  right: 0; top: 0; width: 250px; height: 240px;
  background: #eee;
}

#npc-dialog {
  margin: 25px;
  text-align: center;
  line-height: 1.4;
}
#npc-dialog p {
  margin: .8em 0;
}
#npc-dialog b {
  font-weight: bold;
  color: #b22;
}
#npc-dialog i {
  font-style: italic;
  color: #555;
  font-size: 80%;
}

#btn-action-wrapper {
  position: absolute;
  right: 0; bottom: 80px; width: 250px; height: 80px;
  background: #ccf;
  visibility: hidden;
}
#btn-item-wrapper {
  position: absolute;
  right: 0; bottom: 0; width: 250px; height: 80px;
  background: #cfc;
  visibility: hidden;
}
#btn-action-wrapper.enabled, #btn-item-wrapper.enabled {
  visibility: inherit;
}
#btn-action-wrapper.enabled, #btn-item-wrapper.enabled.itemSelected {
  cursor: pointer;
}

#btn-action, #btn-item {
  text-align: center;
}
#btn-item {
  color: #aaa;
}
#btn-action, #btn-item-wrapper.itemSelected #btn-item {
  color: black;
}

#btn-leave-wrapper {
  position: absolute;
  left: 0; top: 0; width: 80px; height: 80px;
  cursor: pointer;
  background: #fcc;
}

/* ################################ */
/* minimap */

#minimap-wrapper {
  position: absolute;
  left: 10px; top: 10px; width: 180px; height: 125px;
  background: green;
}

/* ################################ */
/* inventory */

#inventory {
  position: absolute;
  left: 10px; top: 145px; width: 180px; height: 245px;
}

.item {
  position: absolute;
  width: 85px; height: 75px;
  border: 2px solid #666;
  border-radius: 5px;
  background-color: #ccc;
}
#inventory.selectable .item {
  cursor: pointer;
}

.item:nth-child(1) { left: 0; top: 0; }
.item:nth-child(2) { left: 95px; top: 0; }
.item:nth-child(3) { left: 0; top: 85px; }
.item:nth-child(4) { left: 95px; top: 85px; }
.item:nth-child(5) { left: 0; top: 170px; }
.item:nth-child(6) { left: 95px; top: 170px; }

.item.selected {
  background-color: #ffc;
}
.item[data-iid=""] {
  background-color: #aaa;
  cursor: auto;
}

.item[data-iid="oil"]::before {
  content: 'oil';
}
.item[data-iid="ice"]::before {
  content: 'ice';
}
.item[data-iid="money"]::before {
  content: 'money';
}
.item[data-iid="rod"]::before {
  content: 'rod';
}
.item[data-iid="fish"]::before {
  content: 'fish';
}
.item[data-iid="key"]::before {
  content: 'key';
}
.item[data-iid="entkit"]::before {
  content: 'entkit';
}
.item[data-iid="sword"]::before {
  content: 'sword';
}
.item[data-iid="gem"]::before {
  content: 'gem';
}
.item[data-iid="powersword"]::before {
  content: 'powersword';
}
